<div class="burger-list">
	{{name}}
	<button class="btn 
		{{#if devoured}}
			btn-primary
		{{else}}
			btn-danger
		{{/if}} 
			change-eat" 
		data-id="{{id}}" 
		data-newdevoured="{{devoured}}">
			{{#if devoured}}
				Devour it!
			{{else}}
				Order More!
			{{/if}}
	</button>
</div>