<div>
	{{name}}
	<button class="btn 
		{{#if devoured}}
		btn-primary
		{{else}}
		btn-danger
		{{/if}} 
		change-eat" 
		data-id="{{id}}" 
		data-newdevoured="{{devoured}}">
			{{#if devoured}}
			Devoured!
			{{else}}
			Order More!
			{{/if}}
	</button>

	

</div>